@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.body{
  min-width: 576px!important;
}

.header-logo{
  background-image: url("/assets/img/header-bg.png");
  /*position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 127px;*/
}

table.container{
  background: none;
  background-color: #fff;
}

table.container.bg-road{
  background-image: url('/assets/img/full-road-header-mark.png')!important;
  background-repeat: no-repeat!important;
  background-position: 100% 0!important;
  background-color: #fff!important;
}

table.container.wrapper-bg{
  background: none;
  background-color: transparent;
}



.wrapper-bg *{
  background-color: transparent!important;
}

.header-logo{
  padding: 0!important;
}

.description */* h2, .description p*/{
  font-family: OpenSans;
  color: #6ab344;
  text-align: left;
  h2{
    font-size: 26px;
    font-weight: 700;
  }

  p{
    font-size: 20px;
    font-weight: 500;
  }
}

.bg-logo{
  height: 284px;
  background-repeat: no-repeat;
  
  h4{
    font-family: OpenSans;
    color: #555555;
    font-size: 20px;
    font-weight: 700;
  }
  span {
    font-family: OpenSans;
    color: #adadad;
    font-size: 16px;
    font-weight: 600;

  }
  p{
    font-family: OpenSans;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
  }
}

.bg-logo-1{
  background-image: url('/assets/img/logo1.png');
}

.bg-logo-2{
  background-image: url('/assets/img/logo2.png');
}

.bg-logo-3{
  background-image: url('/assets/img/logo3.png');

}

.button-action{
  border: 1px solid $default-theme !important;
}

.store-button{
  width: 180px;
  height: 55px;
  background-repeat: no-repeat;
}

.play-market-button{
  background-image: url('/assets/img/google_play.png');
}

.app-store-button{
  background-image: url('/assets/img/app_store.png');
}

.footer-2{
  p{
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
  }
}


table.container.footer-1{
  background-image: url('/assets/img/footer-bg.png');
  height: 95px;
  min-width: 576px;
  th{
    padding: 0!important;
  }
  td{
    vertical-align: middle;
  }

  img{
    margin: 20px;
  }
}

