{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>
<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>



          <container class="bg-road">
            <container class="wrapper-bg">
              <container>
                <row>
                  <columns class="header-logo">
                    <center>
                      <img src="/assets/img/logo-header.png" alt="logo-banancar">
                    </center>
                  </columns>
                </row>
              </container>

              <spacer size="20"></spacer>

              <container class="description">
                <row>
                  <columns class="description" small="10">
                    <h2>Festivalių fiesta tęsiasi kartu su Bananacar.lt!</h2>
                  </columns>
                  <columns></columns>
                </row>
                <row>
                  <columns class="description" small="12">
                    <p>Planavaiį savaitgalį likti namie? Geriau pramogauk! Štai festivaliai į kuriuos gali dar nuvykti šią vasarą. Ieškok kelionių per bananacar.lt. </p>
                  </columns>
                  <columns></columns>
                </row>
              </container>

            </container>
          </container>

          <container>
            <row class="bg-logo-1 bg-logo">
              <columns></columns>
              <columns valign="middle" large="8" small="7" class="small-offset-5">
                <h4>Karklė Live Music Beach2017<br><span>(Rugpjūčio 18-20)</span></h4>
                <p>Vienintelis festivalis Lietuvoje vykstantis ant jūros kranto. Trys dienas ir dvi naktis kruopščiai atrinkti atlikėjai tiek iš Lietuvos tiek iš užsienio linksmins gausų būrį festivalio dalyvius. Išskirtinės pramogos – menai, pasaulio virtuvės ir daug emocijų po atviru dangumi. </p>
              </columns>
            </row>
            <row class="bg-logo-2 bg-logo">
              <columns valign="middle" small="7">
                <h4>Visagino country festival<br><span>(Rugpjūčio 18-19)</span></h4>
                <p>Kantri muzikos gerbėjams skirtas festivalis. Dvi dienas ir naktis mėgausitės atomine muzika, draugiška atmosfera, įvairiomis atrakcijomis, nuostabia gamta ir ežero gaiva, čia būtinai susitiksite seniai matytą bičiulį kaip sako „kantri tėvas“ Virgis Stakėnas. </p>
              </columns>
              <columns></columns>
            </row>
            <row class="bg-logo-3 bg-logo">
              <columns></columns>
              <columns valign="middle" large="8" small="7"  class="small-offset-5">
                <h4>Purpurinis vakaras<br><span>(Rugpjūčio 17-19)</span></h4>
                <p>Dainuojamosios poezijos mėgėjų festivalis. Festivalyje bus galima išgirsti naujų ir talentingų atlikėjų bei bardų žanro klasikų. Koncerto programa praturtinta spektakliais, parodomis, poezijos skaitymais, susitikimais su meninkais. </p>
              </columns>
            </row>
          </container>


          <container>
            <spacer size="20" class="before-buttons"></spacer>
            <center>
              <row>
                <columns small="1"></columns>
                <columns small="5">
                  <button href="#" class="large expanded button-action"><span class="search-img"></span>Rasti kelionę</button>
                </columns>
                <columns small="5">
                  <button href="#" class="large expanded button-action"><span class="plus-img"></span>Pridėti kelionę</button>
                </columns>
                <columns small="1"></columns>
              </row>
            </center>
          </container>

          <container>
            <row>
              <columns>
                <p class="text-center">Įsirašykite mūsų programėlę ir keliaukite kartu su draugais</p>
              </columns>
            </row>
          </container>

          <container>
            <row>
              <columns small="1"></columns>
              <columns small="5"><a href="#"><img class="float-right" src="/assets/img/google_play.png" alt=""></a></columns>
              <columns small="5"><a href="#"><img class="float-left" src="/assets/img/app_store.png" alt=""></a></columns>
              <columns small="1"></columns>
            </row>
          </container>

          <container class="footer-1" >
            <row valign="middle">
              <columns small="4" valign="middle"><img src="/assets/img/logo-footer.png" alt=""></columns>
              <columns small="3"></columns>
              <columns small="1"  valign="middle"><a href="#"><img src="/assets/img/facebook.png" alt=""></a></columns>
              <columns small="1" valign="middle"><a href="#"><img src="/assets/img/instagram.png" alt=""></a></columns>
              <columns small="1" valign="middle"><a href="#"><img src="/assets/img/youtube.png" alt=""></a></columns>
              <columns></columns>

            </row>
          </container>

          <container class="footer-2">
            <row>
              <columns small="12" large="8" valign="middle">
                <p class="text-left small-text-center">UAB "Eurospektras", Laisves pr. 88, LT-06125 Vilnius, Lietuva</p>
              </columns>
              <columns small="12" large="4" valign="middle">
                <p class="text-right small-text-center">Atsisakyti naujienlaiškių</p>
              </columns>
            </row>
          </container>

        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

